Repository chrisjoyce911/active-campaign-sdk-go: changes, and which Codecov flags are due for each by the changed paths.
All: client, services, examples, cmd, internal, legacy, root

bump ro go 1.24
  .github/workflows/ci.yml
  go.mod
  services/deals/list_deals_all.go
Due: services

added flags
  .github/workflows/ci.yml
Due: none

Added flags
  codecov.yml
Due: none

added more contacts test
  services/contacts/models_accessors_extra_test.go
Due: services

trying to get 100% coverage for an example
  examples/campaigns_list/campaigns_list_test.go
  examples/campaigns_list/main.go
  examples/campaigns_list/main_path_test.go
Due: examples

Improve test coverage
  examples/contacts_search_contact/main.go
  examples/contacts_search_contact/main_path_test.go
  examples/contacts_update_field_value/main.go
  examples/contacts_update_field_value/main_path_test.go
  examples/deals_list/main.go
  examples/deals_list/main_path_test.go
  examples/deals_list_all_stages/main.go
  examples/deals_list_all_stages/main_path_test.go
  examples/lists_create_list/main.go
  examples/lists_create_list/main_path_test.go
Due: examples

better test with mocks
  codecov.yml
  examples/deals_list/deals_list_test.go
  examples/deals_list_all_stages/deals_list_all_stages_test.go
  mocks/campaigns/README.md
  mocks/campaigns/service.go
  mocks/campaigns/service_test.go
  mocks/contacts/README.md
  mocks/contacts/service.go
  mocks/contacts/service_test.go
  mocks/deals/README.md
  mocks/deals/service.go
  mocks/deals/service_test.go
Due: examples

More tests
  .github/workflows/ci.yml
  examples/campaigns_list/campaigns_list_test.go
  examples/contact_rto_flow/main.go
  examples/contact_rto_flow/main_path_test.go
  mocks/campaigns/service_test.go
  mocks/contacts/service_test.go
Due: examples

more tests for mocks
  mocks/campaigns/service_test.go
  mocks/contacts/service_test.go
  mocks/deals/service_test.go
Due: none

expanded add to list
  examples/contact_rto_flow/main.go
  mocks/contacts/service.go
  mocks/contacts/service_test.go
  services/contacts/add_contact_to_list.go
  services/contacts/add_contact_to_list_test.go
  services/contacts/contacts.go
  services/contacts/list_contacts.go
  services/contacts/models.go
Due: services, examples

added an example
  examples/contact_add_to_list/README.md
  examples/contact_add_to_list/main.go
  examples/contact_add_to_list/main_test.go
  examples/contact_add_to_list/runner.go
  services/contacts/list_contacts.go
Due: services, examples

renamed GetContactTags to TagsGet
  examples/contacts_get_tags/main.go
  examples/list_all_custom_fields/main.go
  mocks/contacts/service.go
  mocks/contacts/service_test.go
  root_stub.go
  root_stub_extra_test.go
  services/contacts/contacts.go
  services/contacts/get_contact_tags.go
  services/contacts/get_contact_tags_test.go
  services/contacts/update_list_status.go
  services/contacts/update_list_status_real.go
Due: services, examples, root

renamed file
  services/contacts/tags_get.go
  services/contacts/tags_get_test.go
Due: services

Added TagAdd and TagRemove
  mocks/contacts/service.go
  mocks/contacts/service_test.go
  services/contacts/contacts.go
  services/contacts/tag_add.go
  services/contacts/tag_add_test.go
  services/contacts/tag_remove.go
  services/contacts/tag_remove_test.go
Due: services

TagRemove now takes contactID and Tag
  mocks/contacts/service.go
  mocks/contacts/service_test.go
  services/contacts/contacts.go
  services/contacts/tag_remove.go
  services/contacts/tag_remove_test.go
Due: services

Udated lists status to use int
  examples/contact_list_add/README.md
  examples/contact_list_add/main.go
  examples/contact_list_add/main_test.go
  examples/contact_list_add/runner.go
  examples/lists_create_list/main.go
  services/contacts/README.md
  services/contacts/fields_models_extra_test.go
  services/contacts/models.go
  services/contacts/update_list_status_helper_simple.go
  services/contacts/update_list_status_helper_simple_test.go
  services/contacts/update_list_status_managed.go
  services/contacts/update_list_status_managed_test.go
Due: services, examples

Changed SourceID from string to int in both:
  services/contacts/models.go
Due: services

SourceID anc be a int or string
  services/contacts/models.go
Due: services

The ActiveCampaign API returns the list field inconsistently:
  examples/contact_list_add/runner.go
  examples/contact_rto_flow/main.go
  examples/lists_create_list/main.go
  services/contacts/fields_models_extra_test.go
  services/contacts/models.go
  services/contacts/update_list_status_helper_simple.go
  services/contacts/update_list_status_managed_test.go
Due: services, examples

added missing file
  services/contacts/models.go
Due: services

The ActiveCampaign API returns the contact field inconsistently:
  examples/contact_list_add/runner.go
  examples/contact_rto_flow/main.go
  examples/lists_create_list/main.go
  services/contacts/fields_models_extra_test.go
  services/contacts/models.go
  services/contacts/update_list_status_helper_simple.go
  services/contacts/update_list_status_managed.go
  services/contacts/update_list_status_managed_test.go
Due: services, examples

Added empty cookie
  client/core.go
  examples/campaigns_list/main.go
Due: client, examples

add rate limit warning
  client/core.go
  client/package.go
  examples/campaigns_list/main.go
  examples/contact_list_add/main.go
  examples/contact_list_add/runner.go
  examples/contacts_search_contact/main.go
  examples/contacts_search_rate/main.go
  go.mod
  go.sum
Due: client, examples

Added tag eremov example
  examples/contact_tag_remove/main.go
Due: examples

The TagRemove method now correctly takes tagID (instead of tag name) and compares ct.Tag == tagID (assuming the API returns the tag ID in the "tag" field of the contactTags response).
  services/contacts/contacts.go
  services/contacts/tag_remove.go
Due: services

Added support for bounces email
  examples/contact_list_add/main.go
  examples/contact_list_add/runner.go
  examples/contacts_bounced_log/README.md
  examples/contacts_bounced_log/main.go
  examples/contacts_get_by_search_email/main.go
  mocks/contacts/service.go
  mocks/contacts/service_test.go
  services/contacts/contacts.go
  services/contacts/get_contact_bounce_logs.go
  services/contacts/models.go
  services/contacts/more_contacts_tests_test.go
Due: services, examples

Added more ratelimit control
  client/core.go
  client/package.go
  examples/contacts_search_rate/main.go
Due: client, examples

Better ratelimit example
  examples/contacts_search_rate/README.md
  examples/contacts_search_rate/main.go
Due: examples

fix: SyncContact posts to contact/sync (singular) + typed request/response
  mocks/contacts/service.go
  mocks/contacts/service_test.go
  services/contacts/contacts.go
  services/contacts/models.go
  services/contacts/sync_contact.go
  services/contacts/sync_contact_test.go
Due: services

fix: tolerate fieldValue ID strings in contact responses (prod incident 2026-07-20)
  .DS_Store
  services/contacts/create_contact_request_test.go
  services/contacts/mapper.go
  services/contacts/models.go
  services/contacts/sync_contact_test.go
  services/contacts/update_contact_request_test.go
Due: services

chore: drop stray .DS_Store, ignore it
  .DS_Store
  .gitignore
Due: none

feat: add ListTags / ListTagsWithOpts for listing account tags
  mocks/contacts/service.go
  services/contacts/contacts.go
  services/contacts/list_tags.go
  services/contacts/list_tags_test.go
Due: services

feat: TagRemoveByAssociation — one request per removal, idempotent on 404
  mocks/contacts/service.go
  services/contacts/contacts.go
  services/contacts/tag_remove.go
  services/contacts/tag_remove_test.go
Due: services

feat: typed bulk import + status, and fix the 404 path
  mocks/contacts/service.go
  mocks/contacts/service_test.go
  services/contacts/bulk_import_contacts.go
  services/contacts/bulk_import_contacts_test.go
  services/contacts/contacts.go
Due: services

Path conditions:
  client: any of: client/**
  services: any of: services/**
  examples: any of: examples/**
  cmd: any of: cmd/**
  internal: any of: internal/**
  legacy: any of: legacy/**
  root: any of: *.go
